<NavLink href="@Href" Match="@(Match ?? NavLinkMatch.Prefix)" class="nav-menu-item">
    <div class="nav-item-content">
        @if (Icon != null)
        {
            <MudIcon Icon="@Icon" class="nav-item-icon" />
        }
        <span class="nav-item-text">
            @if (ChildContent != null)
            {
                @ChildContent
            }
        </span>
    </div>
</NavLink>