<MudContainer MaxWidth="MaxWidth.Large" Class="tracks-gallery-container">
    <MudGrid Spacing="6" Justify="Justify.Center">
        @foreach (var track in Tracks)
        {
            <MudItem xs="12" sm="6" md="4" lg="3" xl="3">
                <div class="deepdrft-track-gallery-item-center">
                    <TrackCard TrackModel="@track" IsPlaying="@(track.Id == SelectedTrack?.Id)" OnPlay="@HandlePlayClick"/>
                </div>
            </MudItem>
        }
    </MudGrid>
</MudContainer>