.tracks-page-wrapper {
    display: flex;
    flex-direction: column;
}

.tracks-view-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 16px; /* Horizontal padding only */
}

.tracks-content {
    display: flex;
    flex-grow: 1;
    padding-top: 16px;
}

.tracks-footer {
    flex: 0 0;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}